# Data paths
data_path: './datasets/record_movielens.parquet'
meta_path: './datasets/content_movielens.parquet'

# Experiment settings
dir_name: 'Meta_Refactored_Experiment'
shuffle: false
restored_ckpt_mode: 'last'

# Training loop settings
learning_rates: [0.001]
num_periods: 14
train_start_period: 0
test_start_period: 8
max_epochs: 10         # 每個 period 最多跑 100 個 epoch
validation_split: 0.2   # 從「當前 period」切 20% 出來當驗證集
patience: 1            # 驗證集損失 (val_loss) 連續 10 次沒進步就停止

debug_sample: 0

evaluation:
  sampling_size: 99
  Ks: [5, 10, 20, 50]

item_vec_path: './vectors/item_vectors_kge.npy'
cate_vec_path: './vectors/cate_vectors.npy'

# option: 'hyper_lora_sasrec'  'mlp' 'sasrec'
model_type: 'hyper_lora_sasrec'  
# Model Hyperparameters
model:
  batch_size: 4096
  text_embed_dim: 384
  user_embed_dim: 128
  item_embed_dim: 128
  output_dim: 128
  cate_embed_dim: 64
  lora_r: 64 # LoRA rank for hyper_lora_sasrec


  # === [實驗控制開關] ===
  # 選項: 
  #   'baseline'       : 原始完整模型 (Batch Mean + EMA Inference)
  #   'random_context' : Variant A (隨機噪聲 Context)
  #   'no_context_ema' : Variant E (推論時不看歷史，只看當下)
  #   'global_avg'     : Variant B (全域平均，無動態變化)
  ablation_mode: 'no_context_ema'
